body {
    
   
    margin-top: 10px;
    color: #ff0000;
    padding: 10px;
    background-color: #f5ebeb;
    font-style: italic;
    font-family: arial;

}

.center {
    text-align: center;
}

.container{
    padding:10px;
    font-family: arial;
}



